<!DOCTYPE html>
    <!-- Coding by CodingLab | www.codinglabweb.com -->
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Responsive Card Slider</title>

        <!-- Swiper CSS -->
        <link rel="stylesheet" href="assets/css/swiper-bundle.min.css">
        <link rel="stylesheet" href="assets/css/card.css">
                                        
    </head>
    <body>
        <div class="slide-container swiper">
            <div class="slide-content">
                <div class="card-wrapper swiper-wrapper">
                    <div class="card swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>

                            <div class="card-image">
                                <img src="https://static.tokkobroker.com/dev_pictures/90882482096082699852278929284985374587794517527961324761729610299577492857454.jpg" alt="" class="card-img">
                            </div>
                        </div>

                        <div class="card-content">
                            <h2 class="name">Urban Center Clouthier 601</h2>
                            <br>
                            <p class="description"><h5 style="background-color: orangered;color: white;border-radius: 8px;width: 12%;text-align: center;">Venta</h5> MXN 4,561,440</p>
                            <br>
                            <a target="_blank" href="https://goo.gl/maps/7N4Rq5VZHuJvhNrJ6"><p style="font-size: 12px;"><img style="width: 25px;" src="assets/img/icons/location.png"> &nbsp; Jalisco | Zapopan | Lomas Del Seminario</p></a>
                            <p class="description">The lorem text the section that contains header with having open functionality. Lorem dolor sit amet consectetur adipisicing elit.</p>

                            <button class="button">View More</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper-button-next swiper-navBtn"></div>
            <div class="swiper-button-prev swiper-navBtn"></div>
            <div class="swiper-pagination"></div>
        </div>
        
    </body>

    <!-- Swiper JS -->
    <script src="assets/js/swiper-bundle.min.js"></script>
    <script src="assets/js/card.js"></script>
</html>