<!-- Modal -->
  <div style="background-image: url(assets/img/bg.jpg);background-size: cover;" class="modal fade" id="pr1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div id="modalconfig" class="modal-dialog modal-lg">
      <div id="modalconfig" class="modal-content">
        <div class="modal-header border-0">
          <h5 class="modal-title" id="exampleModalLabel">
            <img style="width: 85px;" src="assets/img/d4.png"> &nbsp;&nbsp;&nbsp;
            <i style="color: green;" class="bi bi-circle-fill"></i> &nbsp; Urban Center Clouthier 601
          </h5>
          <button id="modalbtn" type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span style="font-size: 25px;" aria-hidden="true">&times;</span>
          </button>
        </div>
        <hr id="line">
        <div style="text-align: center;" class="modal-body">
            <div class="row justify-content-center">
            <h5 class="description"><h5 style="background-color: orangered;color: white;border-radius: 8px;width: 30%;text-align: center;">Venta</h5> &nbsp;&nbsp;&nbsp; MXN 4,561,440</h5>
            <hr id="line">
            <br><br>
            <p>Información Basica</p>
            <table class="table table-hover table-dark">
              <thead>
                <tr>
                  <th scope="col"><img id="modalimg" src="assets/img/servicios/bed.png"> &nbsp; Recamaras</th>
                  <th scope="col"><img id="modalimg" src="assets/img/servicios/bath.png"> &nbsp; Baños</th>
                  <th scope="col"><img id="modalimg" src="assets/img/servicios/tiles.png"> &nbsp; plantas</th>
                  <th scope="col"><img id="modalimg" src="assets/img/servicios/clock.png"> &nbsp; Antiguedad</th>
                  <th scope="col"><img id="modalimg" src="assets/img/servicios/cube.png"> &nbsp; Total Construido</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">2</th>
                  <td>2</td>
                  <td>1</td>
                  <td>a estrenar</td>
                  <td>95.12 m²</td>
                </tr>
              </tbody>
            </table>

            <p>Información Basica</p>
            <table class="table table-hover table-dark">
              <thead>
                <tr>
                  <th scope="col"><img id="modalimg" src="assets/img/servicios/bed.png"> &nbsp; Recamaras</th>
                  <th scope="col"><img id="modalimg" src="assets/img/servicios/bath.png"> &nbsp; Baños</th>
                  <th scope="col"><img id="modalimg" src="assets/img/servicios/tiles.png"> &nbsp; plantas</th>
                  <th scope="col"><img id="modalimg" src="assets/img/servicios/clock.png"> &nbsp; Antiguedad</th>
                  <th scope="col"><img id="modalimg" src="assets/img/servicios/cube.png"> &nbsp; Total Construido</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">2</th>
                  <td>2</td>
                  <td>1</td>
                  <td>a estrenar</td>
                  <td>95.12 m²</td>
                </tr>
              </tbody>
            </table>
            </div>
        </div>
        <hr id="line">
        <div class="modal-footer border-0">
          <button type="button" class="btn btn-primary">Agendar Cita</button>
        </div>
      </div>
    </div>
  </div>